* {
    font-family: 'Handlee', cursive;
    letter-spacing: 1px;
    font-weight: bolder;
}
body {
    height: 100vh;
}
#sidebar {
    flex-grow: 1;
}
#taskList {
    flex-grow: 10;
}
p {
    margin: 0 2rem 0 .5rem;
    font-size: large;
}
#list-add {
    cursor: pointer;
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
    margin: .5rem;
    padding: .25rem;
}
#list-add:hover {
    background-color: rgb(75 85 99);
    color: white;
}
.no-display {
    display: none;
}
.active-display {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgb(75 85 99);
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list {
    margin: .5rem;
    border: solid 1px rgb(75 85 99);
    border-radius: 10px;
    padding: .25rem .5rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.list:hover {
    background-color: rgb(75 85 99);
}
.list:hover h4 {
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.list:hover #deleteList {
    display: inline;
    cursor: pointer;
    color: rgb(255, 60, 60);
}
.item {
    margin-top: .25rem;
    padding: .5rem;
    display: flex;
    align-items: baseline;
    border: solid 1px black;
    border-radius: 10px;
}
.item #deleteItem:hover {
    cursor: pointer;
    color: rgb(255, 60, 60);
}
.editButton {
    font-size: small;
    margin-left: .5rem;
    font-weight: bolder;
}
.editButton:hover {
    color: rgb(255, 60, 60);
}
#new-list-name, #new-item-name, #edit-item-name {
    border-radius: 5px;
    padding: .5rem;
    color: black;
    text-align: center;
}
#new-list-button, #new-item-button, #no-list-button, #change-item-button {
    background-color: green;
    border: solid 1px black;
    margin: .5rem;
    border-radius: 5px;
    padding: .5rem;
}
#cancel-new-list-button, #cancel-new-item-button, #cancel-change-item-button {
    background-color: red;
    border: solid 1px black;
    border-radius: 5px;
    padding: .5rem;
}